In [1]:
import os
import sys
from pyspark import SparkContext, SparkConf
os.environ['PYSPARK_PYTHON']=sys.executable
os.environ['PYSPARK_DRIVEN_PYTHON']=sys.executable
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import lit, when, col, avg , sum, max, min

2) Write a PySpark script that performs actions like count and show on a DataFrame.

In [2]:
spark= SparkSession.builder.getOrCreate()
df=spark.createDataFrame([
    (1,"Alice"),(2,"Bob"),(3,"Carl"),(4,"Dave"),(5,"Eve")
],["id","name"])
print(df.count())
df.show()

/home/lplab/anaconda3/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

5
+---+-----+
| id| name|
+---+-----+
|  1|Alice|
|  2|  Bob|
|  3| Carl|
|  4| Dave|
|  5|  Eve|
+---+-----+

1. Implement a PySpark script that applies transformations like filter and withColumn on a DataFrame.

In [3]:
df2=df.filter(df["name"].startswith("C"))
df2.show()

+---+----+
| id|name|
+---+----+
|  3|Carl|
+---+----+

In [4]:
df2=df.withColumn("age",df["id"]*10)
df2.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 10|
|  2|  Bob| 20|
|  3| Carl| 30|
|  4| Dave| 40|
|  5|  Eve| 50|
+---+-----+---+

3) Demonstrate how to perform basic aggregations (e.g., sum, average) on a PySpark DataFrame.

In [5]:
df2.select(sum("age")).show()

df2.select(avg("age")).show()

df2.select(max("age")).show()

df2.select(min("age")).show()

+--------+
|sum(age)|
+--------+
|     150|
+--------+

+--------+
|avg(age)|
+--------+
|    30.0|
+--------+

+--------+
|max(age)|
+--------+
|      50|
+--------+

+--------+
|min(age)|
+--------+
|      10|
+--------+

4) Show how to write a PySpark DataFrame to a CSV file.

In [23]:
spark = SparkSession.builder.appName('answer').getOrCreate()

data = [("James","Educative","Engg","USA"),
    ("Michael","Google",None,"Asia"),
    ("Robert",None,"Marketing","Russia"),
    ("Maria","Netflix","Finance","Ukraine"),
    (None, None, None, None)
  ]

columns = ["emp_name","company","department","country"]
df = spark.createDataFrame(data = data, schema = columns)

csv_file_path = "data123.csv"
df.write.option("header", True).option("delimiter",",").csv(csv_file_path)
df.show()

+--------+---------+----------+-------+
|emp_name|  company|department|country|
+--------+---------+----------+-------+
|   James|Educative|      Engg|    USA|
| Michael|   Google|      null|   Asia|
|  Robert|     null| Marketing| Russia|
|   Maria|  Netflix|   Finance|Ukraine|
|    null|     null|      null|   null|
+--------+---------+----------+-------+

In [20]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat_ws
data = [("James","Educative","Engg","USA"),
    ("Michael","Google","SD","Asia"),
    ("Robert","Amazon","Marketing","Russia"),
    ("Maria","Netflix","Finance","Ukraine"),
    ("Bhai", "Hunters", "Shooter", "India")
  ]

columns = ["emp_name","company","department","country"]
# creating spark session
spark = SparkSession.builder.appName("testing").getOrCreate()
# creating dataframe
df = spark.createDataFrame(data, columns)
# transformation
new_df = df.withColumn("emp_name", concat_ws(' ', df.emp_name, df.company))
# displaying dataframe
new_df.show(truncate=True)
# # write pyspark dataframe into multiple csv file
new_df.write.option("delimiter", ",").mode("overwrite").csv("new_employee")
# write pyspark dataframe into single csv file
new_df.coalesce(1).write.option("delimiter", ",").mode("overwrite").csv("new_employee", header=True)

+---------------+---------+----------+-------+
|       emp_name|  company|department|country|
+---------------+---------+----------+-------+
|James Educative|Educative|      Engg|    USA|
| Michael Google|   Google|        SD|   Asia|
|  Robert Amazon|   Amazon| Marketing| Russia|
|  Maria Netflix|  Netflix|   Finance|Ukraine|
|   Bhai Hunters|  Hunters|   Shooter|  India|
+---------------+---------+----------+-------+

5) Implement wordcount program in PySpark.

In [9]:
#import required pckg
from pyspark.sql.functions import explode,split,col

df=spark.read.text("/home/lplab/Desktop/BDAL/33B/WEEK2/words")
#Apply Split, Explode and groupBy to get count()
df_count=(
  df.withColumn('word', explode(split(col('value'), ' ')))
    .groupBy('word')
    .count()
    .sort('count', ascending=False)
)

#Display Output
df_count.show()

+-----------+-----+
|       word|count|
+-----------+-----+
|          a|    7|
|        and|    4|
|        SQL|    4|
|        for|    3|
|         is|    3|
|       data|    3|
|         of|    3|
|      Spark|    3|
|   queries.|    2|
|      using|    2|
|   provides|    2|
|         in|    2|
|programming|    2|
|       with|    2|
|distributed|    2|
|         on|    2|
|         It|    2|
| structured|    2|
|  interface|    2|
|    working|    2|
+-----------+-----+
only showing top 20 rows